__pycache__/
.idea/
chen/
clt/
build/
cluster/
galeano/
results/
_alldata/
grid/
src/clt
.ipynb_checkpoints/
Untitled.ipynb
corrs.log
inflatebin_1.h5
ninobin_1.h5
perf.log
stats.log
statsback.log
statsmultipeak.log
*bin_1.h5
*data*
*.csv
scores/
experiments/
delete/